name: Web trunk release

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust web project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo install --locked trunk
      - run: cd web && trunk build --release
      - name: Archive web artifacts
        uses: actions/upload-artifact@v3
        with:
          name: web-dist
          path: web/dist
          retention-days: 1
  